<%= form_with model: booking do |f| %>
  <%= f.hidden_field :flight_id, value: params[:booking_option] %>

  <%= f.fields_for :passengers do |passenger_form| %>
    <div class="new-passenger-container">
      <div class="form-field">
        <%= passenger_form.label :name %>
        <%= passenger_form.text_field :name,
                                      required: true,
                                      placeholder: "Passenger's name" %>
      </div>

      <div class="form-field">
        <%= passenger_form.label :email %>
        <%= passenger_form.email_field :email,
                                       required: true,
                                       placeholder: "abc@com.ua" %>
      </div>
    </div>
  <% end %>

  <div class="form-button">
    <%= f.submit "Finalize Booking" %>
  </div>
<% end %>
